Nivel_Captacion_De_Lluvia/flows.json
[
    {
        "id": "df99b656f2ba97e1",
        "type": "tab",
        "label": "Nivel Captacion Lluvia",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f886d5f6f004249",
        "type": "mqtt in",
        "z": "df99b656f2ba97e1",
        "name": "",
        "topic": "codigoIoT/mor/NivelCaptacionLluvia/Sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "34f04234872113cb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "025c738fad59b28d",
                "39abd97ce24a7f41",
                "528b3ff897a8d9b5",
                "44bf774c9eb303cd",
                "08244223e0c604d3",
                "3267a869b861b1e0"
            ]
        ]
    },
    {
        "id": "025c738fad59b28d",
        "type": "function",
        "z": "df99b656f2ba97e1",
        "name": "Extraer Temp",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "c92d9aae994737f4",
                "1f9b6bc6c832c2f0"
            ]
        ]
    },
    {
        "id": "39abd97ce24a7f41",
        "type": "function",
        "z": "df99b656f2ba97e1",
        "name": "Extraer Hum",
        "func": "msg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "92641d8c744467be",
                "c2c1f726083e4006"
            ]
        ]
    },
    {
        "id": "528b3ff897a8d9b5",
        "type": "function",
        "z": "df99b656f2ba97e1",
        "name": "Extraer NivelA",
        "func": "msg.payload = msg.payload.nivel;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "9ac9979a3995919b",
                "a8ec9c3ecc740130"
            ]
        ]
    },
    {
        "id": "44bf774c9eb303cd",
        "type": "function",
        "z": "df99b656f2ba97e1",
        "name": "Extraer FlujoA",
        "func": "msg.payload = msg.payload.flujo;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 400,
        "wires": [
            [
                "1d45321af3b978bf",
                "9e1d0ce953659b5a"
            ]
        ]
    },
    {
        "id": "08244223e0c604d3",
        "type": "debug",
        "z": "df99b656f2ba97e1",
        "name": "Verifiacar Datos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "3267a869b861b1e0",
        "type": "function",
        "z": "df99b656f2ba97e1",
        "name": "Generar BaseD",
        "func": "//INSERT INTO Nivel_Lluvia (nombre, temperatura, humedad, nivelAgua, flujoAgua) VALUES ('Johan M', 23.8, 30);\n//Generar inicio del query\nmsg.topic = \"INSERT INTO Nivel_Lluvia (nombre, temperatura, humedad, nivelAgua, flujoAgua) VALUES (\";\n//Concatenar identidad del usuario\nmsg.topic += \"'\" + msg.payload.ID + \"'\" + \", \";\n//Concatenar temperatura\nmsg.topic += msg.payload.temp + \", \";\n//Concatenar humedad\nmsg.topic += msg.payload.hum + \",\";\n//Concatenar nivelAgua\nmsg.topic += msg.payload.nivel + \",\";\n//Concatenar flujoAgua\nmsg.topic += msg.payload.flujo + \");\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 480,
        "wires": [
            [
                "852bc2151b88a619"
            ]
        ]
    },
    {
        "id": "852bc2151b88a619",
        "type": "mysql",
        "z": "df99b656f2ba97e1",
        "mydb": "b8fc2796c37b92b9",
        "name": "",
        "x": 740,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "92641d8c744467be",
        "type": "ui_gauge",
        "z": "df99b656f2ba97e1",
        "name": "",
        "group": "cb97770e8b0217e3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Hum Actual",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "9ac9979a3995919b",
        "type": "ui_gauge",
        "z": "df99b656f2ba97e1",
        "name": "",
        "group": "9d9a80828d0c25be",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "NivelAgua",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "1d45321af3b978bf",
        "type": "ui_gauge",
        "z": "df99b656f2ba97e1",
        "name": "",
        "group": "0c269937568468d0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "FlujoAgua",
        "label": "L/min",
        "format": "{{value}}",
        "min": 0,
        "max": "6",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "c92d9aae994737f4",
        "type": "ui_gauge",
        "z": "df99b656f2ba97e1",
        "name": "",
        "group": "3dd30027378369b2",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp Actual",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "1f9b6bc6c832c2f0",
        "type": "ui_chart",
        "z": "df99b656f2ba97e1",
        "name": "",
        "group": "8f5288374dee61b3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temp/Tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando datos",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c2c1f726083e4006",
        "type": "ui_chart",
        "z": "df99b656f2ba97e1",
        "name": "",
        "group": "8f5288374dee61b3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Hum/Tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando datos",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a8ec9c3ecc740130",
        "type": "ui_chart",
        "z": "df99b656f2ba97e1",
        "name": "",
        "group": "8f5288374dee61b3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Nivel/Tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando datos",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9e1d0ce953659b5a",
        "type": "ui_chart",
        "z": "df99b656f2ba97e1",
        "name": "",
        "group": "8f5288374dee61b3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Flujo/Tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando datos",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "34f04234872113cb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b8fc2796c37b92b9",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "cursoiot",
        "tz": "-07:00",
        "charset": "UTF8"
    },
    {
        "id": "cb97770e8b0217e3",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "2b52c3a45fcda4c3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d9a80828d0c25be",
        "type": "ui_group",
        "name": "Nivel_Agua",
        "tab": "2b52c3a45fcda4c3",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c269937568468d0",
        "type": "ui_group",
        "name": "Flujo_Agua",
        "tab": "2b52c3a45fcda4c3",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3dd30027378369b2",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "2b52c3a45fcda4c3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f5288374dee61b3",
        "type": "ui_group",
        "name": "Historial",
        "tab": "2b52c3a45fcda4c3",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b52c3a45fcda4c3",
        "type": "ui_tab",
        "name": "Captacion_Lluvia",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]